.rounded-profile-image {
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.edit-pic {
    padding: 8px 13px;
}

.edit-pic:hover {
    background-color: #4a9d5f;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
    text-align: center;
}

.close-button {
    position: absolute;
    right: 10px;
    background: transparent;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.gallery-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;
    transition: transform 0.2s, border 0.2s;
}

.gallery-image:hover {
    transform: scale(1.1);
}

.gallery-image.selected {
    border: 2px solid #4a9d5f;
}

.save-button {
    padding: 10px 20px;
}

.save-button:hover {
    background-color: #4a9d5f;
}