.viewer {
    background: linear-gradient(to right, #58A65B, #B9996A, #FD6564);
}

#root {
    margin: 0;
    height: 100%;
}

.footer {
    bottom: 0;
    margin: 0;
    padding: 0;
}

.login-image {
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

.user-info-container h3{
    color: white;
    font-size: x-large;
    text-align: center;
    margin: 50px;
    font-weight: bold;
    z-index: 1;

}

.user-info-container {
    padding: 2rem;
    z-index: 1;

}

.user-info-container input,
.user-info-container button {
    display: block;
    width: 300px;
    margin: 0 auto 1rem auto;
    box-sizing: border-box;
    z-index: 2;
}

.user-info-container input[type="text"],
.user-info-container input[type="password"] {
    padding: 1rem;
    border: 1px solid #333;
    border-radius: 7px;
    background: white;
    font-size: 1rem;
    z-index: 1;
}

.user-info-container button[type="submit"] {
    width: 120px;
    padding: 0.9rem;
    background: #4a9d5f;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 7px;
    cursor: pointer;
    z-index: 1;
}

.user-info-container button[type="submit"]:hover {
    background: #3d8450;
    z-index: 1;
}



.user-info-container p {
    color: white;
    text-align: center;
    margin: 50px;
    z-index: 1;
}

.user-info-container p a {
    text-decoration: none;
    z-index: 1;
}

.register-image {
    position: absolute;
    right: 32%;
    top: 21%;
    height: 573px;
    opacity: 0.6;
    z-index: -1;
}


.side-profile {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.side-profile p {
    margin-bottom: 30px;
    width: 200px;
}



.graph-layout {
    display: flex;
    width: 100%;
    position: relative;
}


.graph-sidebar {
    height: 100vh;
    transition: width 0.3s, padding 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    width: inherit;
}

/* Estado fechado */
.graph-sidebar.closed {
    width: 0;
    padding: 0;
    visibility: hidden;
}

/* Estado aberto */
.graph-sidebar.open {
    visibility: visible;
}

/* Botão de toggle fixo no ecrã */
.sidebar-toggle {
    position: fixed;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
}

.graph-content {
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.graph-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.graph-buttons button {
    padding: 0px 20px;
    margin: 10px;
}

.graph-buttons button:hover,
.edit:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    background-color: #4c8362;
}

.graph-title {
    text-align: center;
    font-size: 17px;
}

.edit {
    padding: 10px
}

.graph-charts {
    flex-grow: 1;
    padding: 10px;
}

.side-profile {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}


.side-profile label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    color: #333;
}

.side-profile input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
}

.side-profile .save,
.side-profile .cancel {
    padding: 10px 15px;
    margin: 20px;
    margin-block: 30px;
    border-radius: 7px;
}
