@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
}
.logo-bar p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #333;
    text-decoration: underline;
}

li {
    font-size: 14px;
}

.logo-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.nav-bar {
    background-color: #1c420c;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: sticky;
    top: 0;
}

.nav-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 200px;
}

.nav-bar li {
    padding: 10px;
    display: inline-block;
    align-content: center;
    padding-right: 20px;
    color: white;
    font-family: roboto, sans-serif;
}

.logo-bar img {
    padding: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
}

button:hover {
    background-color: #45a049;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
}
