.nav-bar {

}

li {
    padding-top: 10px;
    display: inline-block;
    padding-right: 60px;
    justify-content: center;
}

.nav-container {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 1000;
}
