@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --green-eleGov: #006600;
    --grey-eleGov: #D9D9D9;
    --white-eleGov: #FFFFFF;
    --black-eleGov: #000000;
    --warning-eleGov: #FFF0CB;
    --button-eleGov: #4C8362;
}

body {
    font-family: 'PT Sans', sans-serif;
}



.pt-sans-regular, p, h1, h2, h3, h4, h5, h6, label, label input, button {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pt-sans-bold {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.pt-sans-regular-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.pt-sans-bold-italic {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.noto-sans-regular h1 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.noto-sans-bold h1 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.noto-sans-regular-italic {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-variation-settings: "wdth" 100;
}

.dflx {
    display: flex;
    justify-content: center;
}

.dflxColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dInFlex {
    display: inline-flex;
}

.jcc {
    justify-content: center;
}

.jcsa {
    justify-content: space-around;
}

.aic {
    align-items: center;
}

.g20 {
    gap: 20px;
}

.g10 {
    gap: 10px;
}

button {
    background-color: #4C8362;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    margin: 0;
    height: fit-content;
    width: fit-content;
}

button:hover {
    background-color: #2a3f8c;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


