@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
}

.the-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #333;
    margin-top: 18px;
}

li {
    font-size: 14px;
}
.nav-bar li {
    position: relative;
}

.nav-bar li::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 1px;
    width: 0;
    background: #fff;
    transition: width 0.5s;
    bottom: -2px;

}

.nav-bar li:hover::after {
    width: 100%;
    bottom: -2px;
}

.logo-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 1;

}

.nav-bar {
    background-color: var(--green-eleGov);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 40px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    max-height: 40px;
}

.nav-bar li {
    margin: 10px;
    display: inline-block;
    align-content: center;
    color: white;
    font-family: roboto, sans-serif;
    cursor: pointer;

}

.logo-bar img {
    margin-right: 150px;
    margin-left: 150px;
    height: 30px;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
}

.loggin-header {
    background-color: var(--green-eleGov);
    font-family: 'Roboto', sans-serif;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.header-button :hover {
    background-color: #4a9d5f;
}