@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
}
.logo-bar p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: #333;
    text-decoration: underline;
}

li, .loggin-header {
    font-size: 14px;
}

.logo-bar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 1;

}

.nav-bar {
    background-color: var(--green-eleGov);
    display: flex;
    justify-content: flex-end;
    padding: 7px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.nav-navigation {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding-right: 100px;
    cursor: pointer;
}

.nav-bar li {
    margin: 10px;
    display: inline-block;
    align-content: center;
    color: white;
    font-family: roboto, sans-serif;
}

.logo-bar img {
    margin-right: 150px;
    margin-left: 150px;
    height: 30px;
}

button {
    background-color: #4C8362;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    padding: 7px 15px ;
}

button:hover {
    background-color: #2a3f8c;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.nav-bar li a {
    color: white;
    text-decoration: none;
}

.loggin-header {
    background-color: var(--green-eleGov);
    font-family: 'Roboto', sans-serif;
}
